<!doctype html>
<html>
  <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/materialize.css">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <title>Blogz | {{location}}</title>
  </head>
  <body>
    <div class="row">
      <div id="navbar" class="col s12 blue">
        <div class="row">
            <div class="col s4">    
              <a href="/blog"><h1 class="grey-text text-darken-4">Blogz</h1></a>
            </div>

            <div id="links" class="col s4 center-align">    
              <a href='/'>Home </a>|
              <a href="/blog">View All</a>
              {% if 'user' in session %}
                |<a href="/newpost"> New Post</a>
              {% endif %}
            </div>

            <div id="user-login" class="col s4 right-align">   
              {% if 'user' in session  %}
                <p>Hello, {{session['user']}}</p>
                <a class="waves-effect waves-light btn" href="/logout"><i class="material-icons left">cancel</i>logout</a>
              {% else %}
                <p>Hello, Guest</p>
                <a class="waves-effect waves-light btn" href="/login"><i class="material-icons left">input</i>login</a>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
    <div class="col s12 m8 l10 spacer">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/static/materialize.js"></script>
  </body>
</html>