<!doctype html>
<html>
  <head>
    <title>Blogz | {{location}}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Import fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
  </head>
  <body>
    <a href="/blog"><h1>Blogz</h1></a>
    {% if 'user' in session  %}
      <p>Hello, {{session['user']}}</p>
      <a href="/newpost">New Post</a>
      <a href='/logout'>logout</a>
    {% else %}
      <a href="/login">login</a>
    {% endif %}
    <a href='/'>Home</a>
    <a href="/blog">View All</a>
    </div>
  </div>
  <div class="">
      {% block content %}
      {% endblock %}
  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>