{% extends "base.html" %}

{% block content %}

<h1>Create Account</h1>

<form method='POST'>

  <div>
    <input type="text" name='username' id="username" value='{{username}}'/>
    <label for="username">Username:</label>
    <span>{{errors.username}}</span>
  </div>

  <div>
    <input type="password" name='password' id="password"/>
    <label for="password">password:</label>
    <span>{{errors.password}}</span>
  </div>

  <div>
    <input type="password" name='verify' id="verify"/>
    <label for="verify">verify password:</label>
    <span>{{errors.verify}}</span>
  </div>

  <a type="submit">
    <input type="submit" value='Submit' />
  </a>
</form>
<a href="/login"><button>login</button></a>

{% endblock %}